* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #ECEFF1;
}

header {
	min-width: 35%;
	margin: 0 auto;
	
	text-align: center;

	background-color: #eee
}

#loadingImage {
	position: relative;
	margin-top: 25px;

	left: 50%;
	transform: translate(-50%);
	width: 100px;
}

#noResults{
	text-align:  center;
	margin-top: 25px;
	width: 100%;

	color: #424242;
}

#searchBox {
	font-size: 20px;

	padding: 7px 10px;

	min-width: 584px;
	max-width: 100%;
}

#searchContainer {
	margin: 0 auto;

	width: 608px;
}

.resultCard {
	margin-top: 25px;

	display: grid;
	grid-template-areas:
	'img title title title'
	'img description description description'
	'img cooks serves blank';

	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	
	padding: 3% 5%;

}

.resultCard:hover {
	cursor: pointer;
}

.resultImg {
	grid-area: img;

	width: 125px;
	height: 125px;

	background: transparent no-repeat center;
	background-size: cover;
	margin-right: 15px;
}

.resultTitle {
	grid-area: title;
	font-weight: bold;
	font-size: 1.5em;
}

.resultDescription {
	grid-area: description;
}

.resultCooksIn {
	grid-area: cooks;
	margin-right: 25px;
	font-size: 0.8em;

	color: #808080;

	vertical-align: text-bottom;
}

.resultServes {
	grid-area: serves;
	font-size: 0.8em;

	color: #808080;
}

#recipeContainer {
	display: grid;
	grid-template-areas:
	'left main right';
	
	text-align: left;
	
	width: 1258px;
	
	margin-left: auto;
	margin-right: auto;

	margin-top: 25px;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#recipeLeft {
	grid-area: left;
	justify-self: end;

	width: 300px;
	margin: 25px 0 0 25px;
}

#recipeMain {
	margin: 25px 0;
	/*background-color: #f0f;*/

	grid-area: main;
	display: grid;
	grid-gap: 25px;
	grid-template-areas:
	'image info'
	'method method';
	grid-template-columns: 200px auto;

	width: 608px;
}

#recipeTitle > hr, #recipeIntro > hr {
	margin-top: 15px;
}

#recipeRight {
	grid-area: right;
	width: 300px;
	margin-right: 25px;
	margin-left: 15px;
	/*margin: 25px 0 25px 0;*/
}

#recipeFoodImage {
	grid-area: image;
	width: 200px;
}

#recipeInfo {
	grid-area: info;
	display: grid;
	grid-template-areas:
	'title'
	'intro'
	'info';
}

#recipeTitle {
	grid-area: title;
}

#recipeIntro {
	grid-area: intro;
}

#recipeCookingInfo {
	grid-area: info;
	/*align-self: end;*/
	/*text-transform: uppercase;*/
}

#recipeMethod {
	grid-area: method;
}

#recipeLeft > img {
	width: 150px;
	margin-bottom: 25px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

#recipeIngredients > ul {
	list-style: none;
	padding-left: 0;
	margin-right: 25px;
}
#recipeIngredients > ul > li {
	margin-top: 15px;
}

.recommended {
	margin-top: 25px;
	width: 300px;
}

.recommended:hover {
	cursor: pointer
}

.recommendedImg {
	width: 100px;
	height: 100px;
	background: transparent no-repeat center;
	background-size: cover;
	margin: 0 auto;
}

.recommendedTitle {
	text-align: center;
}


/*.result > .resultImg {
	width: 125px;
	height: 125px;

	background: transparent no-repeat center;
  	background-size: cover;
	margin-right: 35px;
  	float: left;
}

.result > .resultTitle {

}

.resultsCooksIn {
	display: inline-block;
}

.resultsServes {
	display: inline-block;
	background-color: : #AAA;
}*/