@media only screen and (max-width: 1258px) {

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

#recipeContainer {
	grid-template-areas:
	'main'
	'left'
	'right';

	width: 608px;
}

#recipeMain {
	padding: 0 25px;
	width: 558px;
}

#recipeLeft {
	margin: 0 25px;
	width: 558px;
	grid-template-areas:
	'image ingredients';
	justify-self: center;
}

#recipeLeft > img {
	margin-right: 25px;
}

#recipeRight {
	margin: 0 25px;
	width: 558px;
}


#recipeRight > h2 {
	text-align: left;
}

.resultTitle {
	font-family: 'Open Sans', sans-serif;
}

.recommended {
	width: 279px;
	float: left;
}

}

@media only screen and (max-width: 608px) {

* {
	/*overflow-x: hidden;*/
}

#searchBox {
	/*margin-right: 10px;*/
	width: 100%;
	box-sizing: border-box;
	/*padding: 7px 10px;*/
}

#searchContainer {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
}

#recipeContainer, #recipeMain, #recipeLeft, #recipeRight {
	width: 100%;
	box-sizing: border-box;
}

#recipePersonImage {
	visibility: hidden;
}

#recipeLeft {
	grid-template-columns: 0 100%;
}

#recipeIngredients {
	margin-left: 25px;
}

#recipeMain {
	grid-template-columns: 100%;
	grid-template-areas:
	'image'
	'info'
	'method';
}

#recipeFoodImage {
	margin: 0 auto;
	/*width: 100px;*/
}

}